<launch>
    <!--期望高度-->
    <arg name="desire_z" type="double" value="1.4" />
    <!--前进步长-->
    <arg name="delta_xyz" type="double" value="0.02" />
    <!--持续向飞控发送点-->
    <node name="station_watchdog_node" pkg="offb" type="station_watchdog_node" output="screen" />
    <!--主要的控制程序-->
    <node name="station_fly_control_node" pkg="offb" type="station_fly_control_node" output="screen" launch-prefix="gnome-terminal --window --">
        <param name="desire_z" value="$(arg desire_z)" />
        <param name="delta_xyz" value="$(arg delta_xyz)" />
    </node>
    <!--显示无人机的状态-->
    <node name="station_monitor_node" pkg="offb" type="station_monitor_node" output="screen" launch-prefix="gnome-terminal --window --" />
    <!--改变无人机的模式-->
    <node name="station_mode_control_node" pkg="offb" type="station_mode_control_node" output="screen" launch-prefix="gnome-terminal --window --" />
    <!--输入改变舵机状态-->
    <node name="station_servo_control_node" pkg="offb" type="station_servo_control_node" output="screen" launch-prefix="gnome-terminal --window --" />
</launch>
