<launch>
	<!--操作串口位置-->
	<arg name="throw_serial_port" type="string" value="/dev/arduino" />
	<!--串口波特率-->
	<arg name="baud_rate" type="int" value="9600" />

	<include file="$(find mavros)/launch/px4.launch" />
	<include file="$(find realsense2_camera)/launch/rs_t265.launch" />
	<include file="$(find vision_to_mavros)/launch/t265_tf_to_mavros.launch" />

	<node name="uav_servo_control_node" pkg="offb" type="uav_servo_control_node" output="screen">
		<param name="baud_rate" value="$(arg baud_rate)" />
		<param name="throw_serial_port" value="$(arg throw_serial_port)" />
	</node>

	<node name="uav_detect_ring_node" pkg="offb" type="uav_detect_ring_node" output="screen" launch-prefix="gnome-terminal --window --" />
</launch>
